{
  {% for post in site.posts %}
   {% if post.showAPI == true %}
   {% if forloop.last == true %}
  "{{ post.title }}":[
    "{{ post.date_time }}",
    "{{ post.description }}",
    {% if post.bannerUrlIsAbsolute == true %}
    "{{ post.banner }}",
    {% else %}
    "{{ post.banner | prepend: site.baseurl }}",
    {% endif %}
    "{{ post.content |  strip_html | strip_newlines }}"
  ]
  {% else %}
  "{{ post.title }}":[
    "{{ post.date_time }}",
    "{{ post.description }}",
    {% if post.bannerUrlIsAbsolute == true %}
    "{{ post.banner }}",
    {% else %}
    "{{ post.banner | prepend: site.baseurl }}",
    {% endif %}
    "{{ post.content |  strip_html | strip_newlines }}"
  ],
  {% endif %}
  {% else %}
  {% endif %}
  {% endfor %}
}
